[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
jieba = "*"
xlrd = "*"
pylint = "*"
numpy = "*"
tensorflow = "*"
matplotlib = "*"
opencv-python = "*"
opencv-contrib-python = "*"
requests = "*"

[dev-packages]

[requires]
python_version = "3.6"
